
nessus-tools/obj/Debug/net7.0/

nessus-tools/obj/

nessus-tools/bin/Release/

nessus-tools/bin/Debug/net7.0/

.vs/nessus-tools/v17/

.vs/nessus-tools/FileContentIndex/

nessus-tools/bin/Debug/net8.0/
